@import "~bootstrap/scss/bootstrap";

.auth_main{

    background: rgb(0,164,255);
    background: linear-gradient(199deg, rgba(0,164,255,1) 0%, rgba(88,29,63,1) 82%); 

}

.bg{
    background-image: url(../../../public/assets/loginImage.jpg);
    background-position: center center;
}


